<md-sidenav-container class="admin-container">

  <md-sidenav class="sidenav" [opened]="sidenavOpen" align="start" [mode]="sidenavMode" msIconSidenav #sidenav>

    <ms-sidenav></ms-sidenav>

  </md-sidenav>

  <div class="content-container" fxLayout="column">
    <ms-toolbar [sidenav]="sidenav"></ms-toolbar>

    <div class="main-container" #scrollContainer>
      <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
    </div>
  </div>

</md-sidenav-container>
